
html,
body {
  font-family: "Gugi", serif;
  height: 100%;
  font-size: 18px;
}

#__nuxt {
  height: 100%;
}

*{
  box-sizing: border-box;
}
.site {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .page{
    padding: 10px;
  }
}
.disabled_class {
  opacity: 0.5;
}
.no-scroll{
  overflow: hidden;
}

.flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-middle{
  display: flex;
  align-items: center;
}
.curspoint{
  cursor: pointer;
}
.user-none{
  user-select: none;
}
.field-error {
  height: 16px;
}

.mt{
  &--10{
    margin-top: 10px;
  }
  &--15{
    margin-top: 15px;
  }
  &--20{
    margin-top: 20px;
  }
  &--30{
    margin-top: 30px;
  }
  &--40{
    margin-top:40px;
  }
  &--50{
    margin-top: 50px;
  }
}
.mb{
  &--10{
    margin-bottom: 10px;
  }
  &--15{
    margin-bottom: 15px;
  }
  &--20{
    margin-bottom: 20px;
  }
  &--30{
    margin-bottom: 30px;
  }
  &--40{
    margin-bottom: 40px;
  }
  &--50{
    margin-bottom: 50px;
  }
}

